body { /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    background-color: white; /*налаштування кольору фону*/
    display:flex; /*створення flex контейнера*/
    align-items: center; /*відцентрування елементівв горизонтальному напрямку*/
    justify-content: center; /*відцентрування елементіву вертикальному напрямку*/
    height: 100vh; /*налаштування видимої висоти*/
}

.circle { /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    height: 300px; /*налаштування висоти всього кола*/
    width: 300px; /*налаштування ширини всього кола*/
    position: relative; /*позиціонування кола*/
}

.c { /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
border-radius: 50%; /*заокруглення кутів*/
position: absolute; /*абсолютна позиція елементу*/
}

.c1 { /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    background-color:red; /*колір фону*/
    height: 300px; /*висота елемента*/
    width: 300px; /*ширина елемента*/
    border:5px dashed black; /*створеня пунктирного контуру*/
}

.c2{ /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    background-color: white; /*колір фону*/
    height: 240px; /*висота елемента*/
    width: 240px; /*ширина елемента*/
    top:30px; /*визначає відстань від верхнього краю батьківського ел. circle до верхнього краю дочірнього с1*/
    left: 30px;/*визначає відстань від лівого краю батьківського ел. circle до лівого краю дочірнього с1*/
}

.c3 { /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    background-color: red; /*колір фону*/
    height: 180px; /*висота елемента*/
    width: 180px; /*ширина елемента*/
    top:60px;/*визначає відстань від верхнього краю батьківського ел. circle до верхнього краю дочірнього с2*/
    left:60px;/*визначає відстань від лівого краю батьківського ел. circle до лівого краю дочірнього с2*/
}

.c4 { /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    background-color: white; /*колір фону*/
    height: 120px; /*висота елемента*/
    width: 120px; /*ширина елемента*/
    top:90px;/*визначає відстань від верхнього краю батьківського ел. circle до верхнього краю дочірнього с3*/
    left:90px;/*визначає відстань від лівого краю батьківського ел. circle до лівого краю дочірнього с3*/
}

.c5{ /*елемент, до якого будуть застосовуватись зміни в фігурних дужках*/
    background-color: red; /*колір фону*/
    height:  60px; /*висота елемента*/
    width:  60px; /*ширина елемента*/
    top: 120px;/*визначає відстань від верхнього краю батьківського ел. circle до верхнього краю дочірнього с4*/
    left:120px;/*визначає відстань від лівого краю батьківського ел. circle до лівого краю дочірнього с4*/
}